#app-header {
  position: absolute;
  margin: auto;
  top: 5px;
  width: 95%;
  height: 40px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  #app-header {
    padding: 0;
  }
}
#app-header * {
  float: left;
  display: block;
}

/* logo */
.logo {
  position: relative;
  padding: 0 5px;
  width: auto;
  height: 100%;
  border-top: 1px solid #64F5FC;
  border-bottom: 1px solid #64F5FC;
  /* overflow: hidden; */
}
.logo-text {
  width: 100%;
  height: 100%;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  line-height: 40px;
  box-sizing: border-box;
}
.logo-text .red{
  color: #d8836f;
  font-family: "Helvetica Arial";
}
.logo-text .white{
  color: #fff;
}


/* login */
.login-box {
  position: absolute;
  right: 0;top: 0;bottom: 0;
  margin: auto;
  display: block;
  width: 80px;
  height: 30px;
  text-align: center;
  color:#87B9CB;
  border: 2px solid #87B9CB;
  /* opacity: .7; */
  cursor: pointer;
  transition: width 0.5s;
  -webkit-transition: width 0.5s;
}
@media screen and (max-width: 768px) {
  .login-box {
    display: none!important;
  }
}
.login-box:hover {
  opacity: 1;
}
/* 登入框 表单 */
.login-box-form {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  border: 0;
  color:#87B9CB;
  text-align: center;
  background: none;
  outline: none;
}
/* 登入框 占位文字 提示 */
.login-box-placeholder {
  width: 100%;
  height: 100%;
  line-height: 28.5px;
}